{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="/static/css/alumni.css">
<section id="alumni">
    <div class="alumni-section mdl-typography--text-left">
        <div class="alumni-font alumni-title">Alumni</div>
        <div class="alumni-font alumni-text">
            <div class="row">
                <div class="column">
                    <h2>2018</h2>
                    <p>David Chen - President</p>
                    <p>Jessica Han - Vice President</p>
                    <p>Claudia Lim - Design</p>
                    <p>Raymond Ng - Webmaster</p>
                    <p>Jay Choi - Treasurer</p>
		    <p>Leona Chen - Performances</p>
                </div>
                <div class="column">
                    <h2>2017</h2>
                    <p>Jason Tang - President</p>
                    <p>Jong Ha Lee - Vice President</p>
		    <p>David Chen - Design</p>
		    <p>Jessica Han - Performances</p>
		    <p>Jay Choi - Treasurer</p>
                </div>
		<div class="column">
		    <h2>2016</h2>
		    <p>Andrew Aikawa - President</p>
		    <p>Jason Tang - Vice President</p>
		    <p>Jong Ha Lee - Treasurer</p>
		    <p>Junseob Lee - Secretary</p>
		    <p>Eric Chen - Design</p>
		</div>
		<div class="column">
		    <h2>2015</h2>
		    <p>Peggy Shih - President</p>
		    <p>Shu-Hui Wee - Vice President</p>
		</div>
		<div class="column">
		    <h2>2014</h2>
		    <p>Emily Chen - President</p>
		    <p>Peggy Shih - Vice President</p>
		</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
