{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="/static/css/about.css">
<section id="about">
    <div class="about-section mdl-typography--text-left">
        <div class="about-font about-title">East Asian Union</div>
        <div class="about-font about-text">On the extremely diverse University of California, Berkeley campus, the East Asian Union functions as an inclusive platform uniting the East Asian community and bridging gaps within. Each academic semester, we host 1-2 very grand events every
            semester where all active clubs join together, pool their resources, and form committees to work together to celebrate the diversity that brings us together on one campus at Cal. We are an all volunteer organization dedicated to raising cultural
            awareness by collaborating with our partners.</div>
    </div>
</section>

<section id="nightmarket">
    <div class="nightmarket-section mdl-typography--text-center">
        <div class="nightmarket-font nightmarket-title">EAU Night Market</div>
        <div class="nightmarket-font nightmarket-text">Every semester, EAU hosts a night market where many cultural groups come together to offer a taste of their home country's traditional foods and to put together cultural performances.</div>
        <div class="nightmarket-font nightmarket-text">Night Market is happening on November 8th this semester from 6:00 - 9:00 PM! More information can be found on our <a href="https://www.facebook.com/eau.ucb/">Facebook</a> page.</div>
        <div class="nightmarket-font nightmarket-text">See what kind of <a href="/nightmarket#food">foods</a> and <a href="/nightmarket#performances">performances</a> are going to be at this semester's night market!</div>
        <div class="nightmarket-font nightmarket-text">If your club is interested in participating in the future, follow our <a href="https://www.facebook.com/eau.ucb/">Facebook</a> page. Signups open at the beginning of each semester.</div>
    </div>
</section>

<link rel="stylesheet" href="/static/css/clubs.css">
<section id="clubs" class="bg-light">
    <div class="club-title">Clubs</div>
    <hr>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-1" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/TASA.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Taiwanese American Student Association</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-2" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/KUNA.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Korean Undergraduate Networking Association</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-3" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/AAA.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Asian American Association</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-4" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/TSA.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Taiwanese Student Association</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-5" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/BCSSA.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Berkeley Chinese Students and Scholars Association</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-6" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/KSEA.JPG') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Korean American Scientists and Engineer Association</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-7" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/PP.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Project Pengyou</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-8" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/HKSA.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Hong Kong Student Association</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-9" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/BiSA.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Berkeley Indonesian Student Association</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-10" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/CSA.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Chinese Student Association</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-11" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/ISAB.JPG') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">International Students Association at Berkeley</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-12" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/CJC.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Cal Japan Club</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-13" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/CPU.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Chinese People Union</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-14" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/LiNK.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Liberty in North Korea</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-15" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/NSU.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Nikkei Student Union</span>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#club-modal-16" onmouseover="this.style.cursor='pointer'">
            <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/MaSA.jpg') center / cover;">
                <div class="mdl-card__title mdl-card--expand"></div>
                <div class="mdl-card__actions">
                    <span class="club-card-name">Malaysian Student Association</span>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="club-modal-1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/TASA.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Taiwanese American Student Association (TASA)</div>
                        <div class="club-modal-text">TASA is a social and cultural student organization celebrating everything Taiwanese American. We welcome people from all cultural backgrounds as long as you are curious, passionate, or have a heart for Taiwanese culture. We hold
                            weekly events involving yummy food, fun activities, and amazing people. We are more than just a club -- we are family!</div>
                        <div class="club-modal-link">
                            <a href="https://tasa.berkeley.edu/" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact {{ helper.random_mdl_color() }} mdl-color-text--white material-icons">link</span>
                      <span class="mdl-chip__text">tasa.berkeley.edu</span>
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-2" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/KUNA.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Korean Undergraduate Networking Association (KUNA)</div>
                        <div class="club-modal-text">The Korean Undergraduate Networking Association, better known as “KUNA”, is a fundamental centerpiece for the Korean Community at the University of California, Berkeley. Our mission is to provide Korean students, international
                            and American alike, with networking opportunities that help mold the individual’s professional undergraduate career. Through a variety of events, including but not limited to ones centering around culture, community, and professionality,
                            we seek to provide both social and professional opportunities to the Korean students on campus. We also participate in school-wide events to further promote and strengthen the exposure of Korean culture and tradition.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-3" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/AAA.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Asian American Association (AAA)</div>
                        <div class="club-modal-text">The purpose of the Asian American Association (AAA) is to be at the forefront of uniting the AsianAmerican Community at Berkeley. AAA seeks to develop proactive and community-oriented leaders through a social, educational awareness
                            and service network. It enhances the quality of life at Berkeley through its focus on diversity appreciation.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-4" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/TSA.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Taiwanese Student Association (TSA)</div>
                        <div class="club-modal-text">UC Berkeley TSA is the largest and most active Taiwanese student organization on campus. We host a variety of social, artistic, and cultural events to gather and enhance relationships among students and promote the learning and awareness of Taiwanese culture throughout U.C Berkeley and other surrounding communities.</div>
                        <div class="club-modal-link">
                            <a href="https://tsa.berkeley.edu/" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact {{ helper.random_mdl_color() }} mdl-color-text--white material-icons">link</span>
                      <span class="mdl-chip__text">tsa.berkeley.edu</span>
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-5" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/BCSSA.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Berkeley Chinese Students and Scholars Association (BCCSA)</div>
                        <div class="club-modal-text">We are a non-profit and non-political organization dedicated to the goal of promoting social, intellectual and cultural activities for Chinese students and scholars at UC Berkeley as well as other interested members in the Berkeley community. We have more than 2000 registered members and this number is still in rapid growth.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-6" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/KSEA.JPG') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Korean American Scientists and Engineer Association (KSEA)</div>
                        <div class="club-modal-text">KSEA stands for Korean-American Scientists and Engineers Association. KSEA at Cal is under Silicon Vally Chapter of KSEA to develop international cooperation between United States and Korea through application of science and technology.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-7" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/PP.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Project Pengyou</div>
                        <div class="club-modal-text">Project Pengyou is an international organization whose mission is to empower and mobilize a new generation of US-China bridge-builders to serve, inspire and transform lives - as the UC Berkeley chapter, we hold social and professional events to encourage cross-cultural dialogue, friendship, and understanding between the United States and China.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-8" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/HKSA.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Hong Kong Student Association (HKSA)</div>
                        <div class="club-modal-text">Hong Kong Student Association is a social organisation that aims to promote cultural understanding and provide professional and personal enrichment to the lives of students with Cantonese roots. We host many fun and inclusive activities, such as our BBQ, karaoke nights, as well as banquets and games.</div>
                        <div class="club-modal-link">
                            <a href="www.berkeleyhksa.org" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact {{ helper.random_mdl_color() }} mdl-color-text--white material-icons">link</span>
                      <span class="mdl-chip__text">www.berkeleyhksa.org</span>
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-9" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/BiSA.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Berkeley Indonesian Student Association (BiSA)</div>
                        <div class="club-modal-text">The Berkeley Indonesian Student Association (BISA) was established in 1985. Over the past two decades, it has gone through a series of changes with the purpose of creating stronger friendships between Indonesian students in the UC Berkeley campus. Through continuously building a larger and closer community, we aim to support each other as the people we are now and the people we will soon become.</div>
                        <div class="club-modal-link">
                            <a href="www.berkeleybisa.com" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact {{ helper.random_mdl_color() }} mdl-color-text--white material-icons">link</span>
                      <span class="mdl-chip__text">www.berkeleybisa.com</span>
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-10" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/CSA.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Chinese Student Association (CSA)</div>
                        <div class="club-modal-text">CSA is the first Chinese organization at Berkeley, and aims to spread Chinese culture on campus. We focus mainly on social events, as well as major cultural events. Some of our more well-known events include the annual Lunar New Year Banquet, hotpot/dim sum/food outings, Chinatown trips, Poker & Mahjong Game Nights, and more!</div>
                        <div class="club-modal-link">
                            <a href="https://csa.berkeley.edu/" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact {{ helper.random_mdl_color() }} mdl-color-text--white material-icons">link</span>
                      <span class="mdl-chip__text">csa.berkeley.edu/</span>
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-11" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/ISAB.JPG') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">International Students Association at Berkeley (ISAB)</div>
                        <div class="club-modal-text">ISAB is the largest international student organization on the UC Berkeley campus created to provide a positive intellectual and social atmosphere for students from diverse backgrounds. We host numerous events to promote awareness of international culture to the campus community, whilst strengthening Berkeley's multicultural community.</div>
                        <div class="club-modal-link">
                            <a href="https://isab.berkeley.edu/" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact {{ helper.random_mdl_color() }} mdl-color-text--white material-icons">link</span>
                      <span class="mdl-chip__text">isab.berkeley.edu/</span>
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-12" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/CJC.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Cal Japan Club (CJC)</div>
                        <div class="club-modal-text">CJC is a UC Berkeley student club open to everyone! CJC brings the Japanese student community together by providing networking, socializing, and career opportunities to Japanese and Japanese-American students. We also welcome anyone interested in Japanese language or culture. Our traditional social events include the welcome party, Big C hike, Halloween party, bowling night, BBQ party, and end of semester banquet. CJC also provides support for job hunting in Japan by hosting panel discussions, on-campus company info sessions, and career guidance events.</div>
                        <div class="club-modal-link">
                            <a href="https://cjc.berkeley.edu/" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact {{ helper.random_mdl_color() }} mdl-color-text--white material-icons">link</span>
                      <span class="mdl-chip__text">cjc.berkeley.edu</span>
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-13" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/CPU.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Chinese People Union (CPU)</div>
                        <div class="club-modal-text">Chinese People Union is the largest Chinese culture club at UC Berkeley. Every semester, we not only hold entertaining events, like KCON and Spring festival gala but also various professional and bonding events almost every week. We dedicate to establish a platform for every Chinese students or students who are interested in Chinese culture to live and study well here at Cal.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-14" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/LiNK.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Liberty in North Korea (LiNK)</div>
                        <div class="club-modal-text">LiNK is a student chapter of Liberty in North Korea, a human rights NGO based in Long Beach, California. Our mission is to raise awareness of the North Korean human rights crisis and fundraise to provide emergency relief and resettlement funds for North Korean refugees.</div>
                        <div class="club-modal-link">
                            <a href="https://link.berkeley.edu/" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact {{ helper.random_mdl_color() }} mdl-color-text--white material-icons">link</span>
                      <span class="mdl-chip__text">link.berkeley.edu</span>
              </a>
                        </div>
                        <div class="club-modal-link">
                            <a href="mailto:linkbayarea@gmail.com" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact {{ helper.random_mdl_color() }} mdl-color-text--white material-icons">mail</span>
                      <span class="mdl-chip__text">linkbayarea@gmail.com</span>
              </a>
                        </div>
                        <div class="club-modal-link">
                            <a href="https://www.facebook.com/linkberkeleychapter" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact {{ helper.random_mdl_color() }} mdl-color-text--white mdi mdi-facebook-box"></span>
                      <span class="mdl-chip__text">linkberkeleychapter</span>
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="club-modal-15" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="club-modal-card modal-content">
                <div class="club-modal mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title" style="background: url('/static/images/clubs/NSU.jpg') center / cover;"></div>
                    <div class="mdl-card__supporting-text">
                        <div class="club-modal-name">Nikkei Student Union (NSU)</div>
                        <div class="club-modal-text">NSU is a club that seeks to promote and celebrate Japanese American Culture. We have community service events and a Fall Semester Culture Show that seek to highlight Japanese American issues and perspectives. We also have fun events such as our annual Ski Trip to Lake Tahoe in the Spring. There is no need to be Japanese or Japanese American to join! We welcome anyone who has an interest in Japanese American culture or is looking to learn more about it!</div>
                        <div class="club-modal-link">
                            <a href="https://nsu.berkeley.edu/" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact {{ helper.random_mdl_color() }} mdl-color-text--white material-icons">link</span>
                      <span class="mdl-chip__text">nsu.berkeley.edu</span>
              </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="club-modal-16" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="club-modal-card modal-content">
                    <div class="club-modal mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title" style="background: url('/static/images/clubs/MaSA.jpg') center / cover;"></div>
                        <div class="mdl-card__supporting-text">
                            <div class="club-modal-name">Malaysian Student Association (MaSA)</div>
                            <div class="club-modal-text">We aim to foster a close-knit community through social activities and strive for members' professional development. We aspire to share our Malaysian values and cultures to the communities in University of California, Berkeley, USA. We are the primary support group for Malaysian students studying at Cal. We aspire to form a bridge of connection between the United States and Malaysia in terms of cultural, social, political and economic relations. Membership is open to all who are interested to partake in Malaysian culture.</div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
{% endblock %}
