{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="/static/css/about.css">
<section id="about">
  <div class="about-section mdl-typography--text-left">
    <div class="about-font about-title">East Asian Union</div>
    <div class="about-font about-text">On the extremely diverse University of California, Berkeley campus, the East Asian Union functions as an inclusive platform uniting the East Asian community and bridging gaps within. Each academic semester, we host 1-2 very grand events every semester
      where all active clubs join together, pool their resources, and form committees to work together to celebrate the diversity that brings us together on one campus at Cal. We are an all volunteer organization dedicated to raising cultural awareness
      by collaborating with our partners.</div>
  </div>
</section>

<link rel="stylesheet" href="/static/css/nightmarket.css">
<section id="nightmarket">
  <div class="nightmarket-section mdl-typography--text-center">
    <div class="nightmarket-font nightmarket-title">EAU Night Market</div>
    <div class="nightmarket-font nightmarket-text">Every semester, EAU hosts a night market where many cultural groups come together to offer a taste of their home country's traditional foods and to put together cultural performances.</div>
    <div class="nightmarket-font nightmarket-text">Night Market is happening on November 8th this semester from 6:00 - 9:00 PM! More information can be found on our <a href="https://www.facebook.com/eau.ucb/">Facebook</a> page.</div>
    <div class="nightmarket-font nightmarket-text">If your club is interested in participating, follow our <a href="https://www.facebook.com/eau.ucb/">Facebook</a> page. Signups open at the beginning of each semester.</div>
  </div>
</section>

<link rel="stylesheet" href="/static/css/clubs.css">
<section id="clubs" class="bg-light">
  <div class="club-title">Clubs</div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
      <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/TASA.jpg') center / cover;">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="club-card-name">Taiwanese American Student Association</span>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
      <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/KUNA.jpg') center / cover;">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="club-card-name">Korean Undergraduate Networking Association</span>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
      <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/AAA.jpg') center / cover;">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="club-card-name">Asian American Association</span>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
      <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/TSA.jpg') center / cover;">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="club-card-name">Taiwanese Student Association</span>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
      <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/BCSSA.jpg') center / cover;">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="club-card-name">BCSSA</span>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
      <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/KSEA.JPG') center / cover;">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="club-card-name">KSEA</span>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
      <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/PP.jpg') center / cover;">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="club-card-name">Project Pengyou</span>
        </div>
      </div>
    </div>    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
          <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/HKSA.jpg') center / cover;">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
              <span class="club-card-name">Hong Kong Student Association</span>
            </div>
          </div>
        </div>
  </div>
  </div>
</section>

<link rel="stylesheet" href="/static/css/performances.css">
<section id="performances" class="bg-light">
  <div class="performance-section mdl-typography--text-center">
    <div class="performance-title">Performances</div>
  </div>
  <div class="performance-list">
  <table class="performance-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Start Time</th>
        <th class="mdl-data-table__cell--non-numeric">Performers</th>
        <th class="mdl-data-table__cell--non-numeric">Type of Performance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">6:00</td>
        <td>Ra-On</td>
        <td>Rock Band</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">6:21</td>
        <td>Drawn to Scale</td>
        <td>A Capella</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">6:30</td>
        <td>Identity X</td>
        <td>Hip Hop/Urban Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">6:40</td>
        <td>AFX Desert Thirst</td>
        <td>Hip Hop/Urban Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">6:49</td>
        <td>Fei Tian Dancers</td>
        <td>Chinese Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">6:55</td>
        <td>AFX Technicailty</td>
        <td>Hip Hop/Urban Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">7:03</td>
        <td>[M]ovement PC</td>
        <td>Hip Hop/Urban Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">7:11</td>
        <td>AFX JEM</td>
        <td>Hip Hop/Urban Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">7:20</td>
        <td>Fei Tian Dancers Minipiece</td>
        <td>Chinese Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">7:27</td>
        <td>UC Berkeley Taiji Club</td>
        <td>Marital Arts Demonstration</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">7:44</td>
        <td>AFX Big Brother</td>
        <td>Hip Hop/Urban Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">7:53</td>
        <td>VSA Lion Dance</td>
        <td>Lion Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">8:05</td>
        <td>Chow Mane</td>
        <td>Rap</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">8:12</td>
        <td>Cal Wushu</td>
        <td>Martial Arts Performance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">8:24</td>
        <td>AFX 101</td>
        <td>Hip Hop/Urban Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">8:32</td>
        <td>Danceworx Clairabeth</td>
        <td>Jazz/Contemporary Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">8:37</td>
        <td>KPG</td>
        <td>K-Pop Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">8:45</td>
        <td>[M]ovement Professional</td>
        <td>Hip Hop/Urban Dance</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">8:53</td>
        <td>AFX ChrisToria</td>
        <td>Hip Hop/Urban Dance</td>
      </tr>
    </tbody>
  </table>
</div>
</section>
{% endblock %}
