{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="/static/css/about.css">
<section id="about">
<div class="about-section mdl-typography--text-left">
  <div class="about-font about-title">East Asian Union</div>
  <div class="about-font about-text">On the extremely diverse University of California, Berkeley campus, the East Asian Union functions as an inclusive platform uniting the East Asian community and bridging gaps within. Each academic semester, we host 1-2 very grand events every semester where all active clubs join together, pool their resources, and form committees to work together to celebrate the diversity that brings us together on one campus at Cal. We are an all volunteer organization dedicated to raising cultural awareness by collaborating with our partners.</div>
</div>
</section>

<link rel="stylesheet" href="/static/css/nightmarket.css">
<section id="nightmarket">
<div class="nightmarket-section mdl-typography--text-center">
  <div class="nightmarket-font nightmarket-title">EAU Night Market</div>
  <div class="nightmarket-font nightmarket-text">Every semester, EAU hosts a night market where many cultural groups come together to offer a taste of their home country's traditional foods and to put together cultural performances.</div>
  <div class="nightmarket-font nightmarket-text">Night Market is happening on November 8th this semester from 6:00 - 9:00 PM! More information can be found on our <a href="https://www.facebook.com/eau.ucb/">Facebook</a> page.</div>
  <div class="nightmarket-font nightmarket-text">If your club is interested in participating, follow our <a href="https://www.facebook.com/eau.ucb/">Facebook</a> page. Signups open at the beginning of each semester.</div>
</section>

<link rel="stylesheet" href="/static/css/clubs.css">
<section id="clubs" class="bg-light">
<div class="club-title">Clubs</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
    <div class="club-card mdl-card mdl-shadow--2dp" style="background: url('/static/images/clubs/TASA.jpg') center / cover;">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="club-card-name">Taiwanese American Student Association</span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
    <div class="club-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="club-card-name">Taiwanese American Student Association</span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
    <div class="club-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="club-card-name">Taiwanese American Student Association</span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
    <div class="club-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="club-card-name">Taiwanese American Student Association</span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
    <div class="club-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="club-card-name">Taiwanese American Student Association</span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
    <div class="club-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="club-card-name">Taiwanese American Student Association</span>
      </div>
    </div>
  </div>
</div>
</div>
</section>
{% endblock %}
