{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/nightmarket.css">
<section id="food" class="bg-light">
    <div class="food-section mdl-typography--text-center">
        <div class="performance-title">Food</div>
    </div>
    <div class="performance-list">
        <img src="/static/images/menu.png" style="display: block; width: 75%; margin: 0 auto;">
    </div>
</section>

<section id="performances" class="bg-light">
    <div class="performance-section mdl-typography--text-center">
        <div class="performance-title">Performances</div>
    </div>
    <div class="performance-list">
        <table class="performance-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Start Time</th>
                    <th class="mdl-data-table__cell--non-numeric">Performers</th>
                    <th class="mdl-data-table__cell--non-numeric">Type of Performance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">6:10</td>
                    <td>BCA</td>
                    <td>Chinese Acapella</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">6:18</td>
                    <td>AFX Toxic</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">6:34</td>
		    <td>AFX NaLA</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">6:43</td>
		    <td>NiCE</td>
                    <td>Japanese Acapella</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">6:52</td>
                    <td>Fei Tian Dancers</td>
                    <td>Chinese Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">7:00</td>
                    <td>AFX Ding Dong</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                    <td class="mdl-data-table__cell--non-numeric">7:09</td>
                    <td>Cal Wushu</td>
                    <td>Marital Arts Demonstration</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">7:19</td>
                    <td>EGO (drums)</td>
                    <td>Korean Drumming</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">7:44</td>
                    <td>AFX META</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">7:51</td>
                    <td>[M] Eevee</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">8:00</td>
                    <td>AFX LoWKey</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">8:08</td>
                    <td>VSA Lion Dance</td>
                    <td>Lion Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">8:20</td>
                    <td>AFX OH</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">8:29</td>
                    <td>KPG</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">8:38</td>
		    <td>[M] GuCci</td>
		    <td>Hip Hop/Urban Dance</td>
		</tr>
	    </tbody>
        </table>
    </div>
</section>
{% endblock %}
