{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/nightmarket.css">
<section id="food" class="bg-light">
    <div class="food-section mdl-typography--text-center">
        <div class="performance-title">Food</div>
    </div>
    <div class="performance-list">
        <img src="/static/images/menu.png" style="display: block; width: 75%; margin: 0 auto;">
    </div>
</section>

<section id="performances" class="bg-light">
    <div class="performance-section mdl-typography--text-center">
        <div class="performance-title">Performances</div>
    </div>
    <div class="performance-list">
        <table class="performance-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Start Time</th>
                    <th class="mdl-data-table__cell--non-numeric">Performers</th>
                    <th class="mdl-data-table__cell--non-numeric">Type of Performance</th>
                </tr>
            </thead>
            <tbody>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">5:55</td>
		    <td>Ra-On</td>
		    <td>Korean Rock Band</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">6:15</td>
		    <td>Fei Tian Dancers</td>
		    <td>Chinese Dance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">6:22</td>
		    <td>Maya at Cal</td>
		    <td>Indian Classical Fusion Dance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">6:28</td>
		    <td>EGO: UC Berkeley's Traditional Korean Percussion Group</td>
		    <td>Korean Drumming</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">6:52</td>
		    <td>[M] RA-RA</td>
		    <td>Hip Hop/Urban Dance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">7:00</td>
		    <td>Cal VSA Lion Dance</td>
		    <td>Lion Dance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">7:17</td>
		    <td>Cal Wushu</td>
		    <td>Martial Arts Demonstration</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">7:28</td>
		    <td>VSA Sriracha</td>
		    <td>Hip Hop/Urban Dance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">7:33</td>
		    <td>AFX Nut</td>
		    <td>Hip Hop/Urban Dance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">7:45</td>
		    <td>AFX softcore</td>
		    <td>Hip Hop/Urban Dance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">7:51</td>
		    <td>Association of Korean Artists</td>
		    <td>Acapella</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">8:09</td>
		    <td>AFX Nightfall</td>
		    <td>Hip Hop/Urban Dance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">8:17</td>
		    <td>AFX &lt;/3</td>
		    <td>Hip Hop/Urban Dance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">8:24</td>
		    <td>AFX ETA</td>
		    <td>Hip Hop/Urban Dance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">8:32</td>
		    <td>Berkeley Chinese Acapella </td>
		    <td>Chinese Acapella</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">8:43</td>
		    <td>AFX TV</td>
		    <td>Hip Hop/Urban Dance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">8:49</td>
		    <td>David Cha</td>
		    <td>Music Performance</td>
		</tr>
		<tr>
		    <td class="mdl-data-table__cell--non-numeric">8:53</td>
		    <td>KPG</td>
		    <td>Hip Hop/Urban Dance</td>
		</tr>
	    </tbody>
        </table>
    </div>
</section>
{% endblock %}
