{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/nightmarket.css">
<section id="food" class="bg-light">
    <div class="food-section mdl-typography--text-center">
        <div class="performance-title">Food</div>
    </div>
    <div class="performance-list">
        <img src="/static/images/menu.png" style="display: block; width: 75%; margin: 0 auto;">
    </div>
</section>

<section id="performances" class="bg-light">
    <div class="performance-section mdl-typography--text-center">
        <div class="performance-title">Performances</div>
    </div>
    <div class="performance-list">
        <table class="performance-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Start Time</th>
                    <th class="mdl-data-table__cell--non-numeric">Performers</th>
                    <th class="mdl-data-table__cell--non-numeric">Type of Performance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">6:30</td>
                    <td>AFX Technicality</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">6:38</td>
                    <td>Fei Tian Dancers</td>
                    <td>Chinese Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">6:45</td>
                    <td>[M]ovement PC</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">6:54</td>
                    <td>AFX JEM</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">7:03</td>
                    <td>Chow Mane</td>
                    <td>Rap</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">7:15</td>
                    <td>AFX BigBrother</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                    <td class="mdl-data-table__cell--non-numeric">7:25</td>
                    <td>UC Berkeley Taiji Club</td>
                    <td>Marital Arts Demonstration</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">7:47</td>
                    <td>Cal Wushu</td>
                    <td>Martial Arts Performance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">8:00</td>
                    <td>VSA Lion Dance</td>
                    <td>Lion Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">8:13</td>
                    <td>AFX Desert Thirst</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">8:24</td>
                    <td>AFX 101</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">8:34</td>
                    <td>KPG</td>
                    <td>K-Pop Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">8:43</td>
                    <td>[M]ovement Professional</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">8:50</td>
                    <td>AFX ChrisToria</td>
                    <td>Hip Hop/Urban Dance</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
