{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="/static/css/officers.css">
<section id="officers" class="bg-light">
  <div class="officers-title">Officers</div>
  <div class="mdl-grid">
    {% for i in range(officers|length) %}
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone" data-toggle="modal" data-target="#officer-modal-{{ i }}" onmouseover="this.style.cursor='pointer'">
	    <div class="officer-card mdl-card mdl-shadow--2dp" style="background: url({{'static/images/officers/' + officers[i].image }}) center / cover;">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
		<span class="officer-card-name">{{ officers[i].name }}</span>
		<div class="officer-card-title">{{ officers[i].position }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% for i in range(officers|length)  %} 
  <div id="officer-modal-{{i}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="officer-modal mdl-card mdl-shadow--4dp">
		<div class="mdl-card__title" style="background: url({{'static/images/officers/'+officers[i].image }}) center / cover;"></div>
          <div class="mdl-card__supporting-text">
		  <div class="officer-modal-name">{{ officers[i].name }}</div>
		  <div class="officer-modal-text">{{ officers[i].position }}</div>
		  <div class="officer-modal-caption"> {{ officers[i].quote }}</div>
            <div class="officer-modal-info">
              <span class="officer-modal-category">Year:</span>
	      <span class="officer-modal-text">{{ officers[i].year }}</span>
            </div>
            <div class="officer-modal-info">
              <span class="officer-modal-category">Major:</span>
	      <span class="officer-modal-text">{{ officers[i].major }}</span>
            </div>
            <div class="officer-modal-email">
		    <a href="mailto:{{ officers[i].contact }}" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact mdl-color--indigo mdl-color-text--white material-icons">mail</span>
		      <span class="mdl-chip__text">{{ officers[i].contact }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
