.about-section {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/about.jpg') center 30% no-repeat;
    position: relative;
    height: 800px;
    width: auto;
    background-size: cover;
}

.full-overlay:after {
    background: rgba(0, 0, 0, 0.75);
}

.about-font {
    margin: 0;
    text-align: left;
    padding-left: 8%;
    color: #eeeeee;
}

.about-title {
    font-family: 'Philosopher', sans-serif;
    padding-top: 30vh;
    font-size: 3.5em;
    white-space: nowrap;
    text-shadow: 1px 1px 4px #222222;
}

.about-text {
    font-family: 'Muli', sans-serif;
    padding-top: 40px;
    margin-right: 40%;
    font-size: 1.1em;
}

.nightmarket-section {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/nightmarket.jpg') center 30% no-repeat;
    position: relative;
    height: 550px;
    width: auto;
    background-size: cover;
    background-attachment: fixed;
}

.full-overlay:after {
    background: rgba(0, 0, 0, 0.75);
}

.nightmarket-font {
    margin: 0;
    text-align: center;
    color: #eeeeee;
}

.nightmarket-title {
    font-family: 'Philosopher', sans-serif;
    padding-top: 150px;
    font-size: 3.5em;
    white-space: nowrap;
    text-shadow: 1px 1px 4px #222222;
}

.nightmarket-text {
    font-family: 'Muli', sans-serif;
    padding-top: 2em;
    font-size: 1.1em;
}
