.club-title{
  font-family: 'Philosopher', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 40pt;
  text-align: center;
  color: #0d0d0d;
}

#clubs {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 15%;
  padding-right: 15%;
}

.mdl-cell {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.club-card {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: all .2s ease-in-out;
}

.club-card:hover {
  -moz-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.club-card-image > .mdl-card__actions {
  height: 15%;
  padding: 16px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.club-card-image__filename {
  font-family: 'Muli', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
