.officers-title {
  font-family: 'Philosopher', sans-serif;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 40pt;
  text-align: center;
  color: #0d0d0d;
}

#officers {
  padding-top: 100px;
  padding-bottom: 130px;
  padding-left: 15%;
  padding-right: 15%;
}

.mdl-cell {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.officer-card {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: all .2s ease-in-out;
}

.officer-card:hover {
  -moz-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.officer-card>.mdl-card__actions {
  height: 15%;
  padding: 16px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.officer-card-name {
  font-family: 'Muli', sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.officer-card-title {
  padding-top: 3px;
  font-family: 'Muli', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.mdl-card__supporting-text {
  width: 100%;
}

.officer-modal.mdl-card {
  width: 512px;
  font-family: 'Muli', sans-serif;
  text-align: center;
}

.officer-modal>.mdl-card__title {
  color: #fff;
  height: 512px;
}

.officer-modal-name {
  color: #666666;
  font-family: 'Muli', sans-serif;
  padding-bottom: 5px;
  font-size: 22px;
}

.officer-modal-info {
  padding-top: 10px;
}

.officer-modal-caption {
  padding: 5px;
  color: #777777;
  font-size: 12px;
}

.officer-modal-category {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}

.officer-modal-text {
  padding-top: 3px;
  color: #666666;
  font-size: 14px;
}

.mdl-chip__text {
  font-family: 'Muli', sans-serif;
}
