.performance-title {
  font-family: 'Philosopher', sans-serif;
  padding-top: 150px;
  padding-bottom: 150px;
  font-size: 40pt;
  text-align: center;
  color: #eeeeee;
}

.performance-table {
  margin: auto;
  padding: 50px;
}

.performance-table th {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
}

.performance-table td {
  font-family: 'Muli', sans-serif;
  font-size: 12px;
}

.performance-section {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/danceworx.jpg') center 30% no-repeat;
  position: relative;
  height: 300px;
  width: auto;
  background-size: cover;
  background-size: 100% auto;
  background-attachment: fixed;
}

.performance-list {
  padding: 100px;
}
